# Dependencies
/node_modules

# Build output
/.next/
/out/
/build/

# Miscellaneous
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode/
.idea/

# Genkit
.genkit/cache/
.genkit-ui/
genkit.log
